{% extends 'layouts/base2.html' %}
{% load static %}
{% load pagination_tags %}

{% block title %} Consulta-Presidencia y Vicepresidencia {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% include "_modal.html" %}

    <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
        {% if mensaje %}
            <script>
                alert('{{ mensaje }}');
            </script>
        {% endif %}

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-header-title">
                    <h5 class="m-b-10">Consultas Presidencia y Vicepresidencia</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Consultas</a></li>
                    <li class="breadcrumb-item"><a href="javascript:">Presidencia y Vicepresidencia</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5 class="m-b-10">Items en consulta:</h5> <h5>{{valores.vcount }}</h5>
            </div>
        <!-- [ breadcrumb ] end -->
        </div>

        <div class="card card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <center><h3>{{ valores.vprovincia }}</h3></center>
                    </div>
                    <div class="col-md-3">
                        <select class="mb-3 form-control" name="canton" id="canton">
                            <option value="*" selected >Todos los Cantones</option>
                            {% for canton in canton_list %}
                                <option value="{{canton.pk}}" >{{canton}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3">
                        <input type="submit" class="btn btn-outline-info  btn-sm btn-block"  name="validacion" value="Cargar JRVs para Validacion">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <select class="mb-3 form-control" name="columna1" id="columna1">
                            <option value="delegados" selected>App Delegados</option>
                            <option value="app_digitacion">App de Digitacion</option>
                            <option value="cne1">Escrutinio CNE cierre 1</option>
                            <option value="cne2">Escrutinio CNE cierre 2</option>
                            <option value="cne3">Escrutinio CNE cierre 3</option>
                            <option value="cne4">Escrutinio CNE cierre 4</option>
                            <option value="conteo_rapido_cne">Conteo Rapido CNE</option>
                            <option value="ocr_nuestro_actas_cne">OCR Nuestro a las actas del Cne</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <select class="mb-3 form-control" name="operador" id="operador">
                            <option value="lt">Es menor que</option>
                            <option value="gt" >Es mayor que</option>
                            <option value="!=">es diferente a</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <select class="mb-3 form-control" name="columna2" id="columna2">
                            <option value="delegados" selected>App Delegados</option>
                            <option value="app_digitacion">App de Digitacion</option>
                            <option value="cne1">Escrutinio CNE cierre 1</option>
                            <option value="cne2">Escrutinio CNE cierre 2</option>
                            <option value="cne3">Escrutinio CNE cierre 3</option>
                            <option value="cne4">Escrutinio CNE cierre 4</option>
                            <option value="conteo_rapido_cne">Conteo Rapido CNE</option>
                            <option value="ocr_nuestro_actas_cne">OCR Nuestro a las actas del Cne</option>
                        </select>
                    </div>

                    <div class="col-md-1">
                         PARA
                    </div>

                    <div class="col-md-3">
                        <select class="mb-3 form-control" name="partidosselect" id="partidosselect">
                            <option value="*" selected >TODOS LOS CANDIDATOS</option>
                            {% for partido in candidatos %}
                                <option value="{{partido.COD_PARTIDO}}" >{{partido}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if valores %}
                        <script type="text/javascript">
                            document.getElementById('columna1').value = '{{valores.vcolumna1}}';
                            document.getElementById('columna2').value = '{{valores.vcolumna2}}';
                            document.getElementById('operador').value = '{{valores.voperador}}';
                            document.getElementById('partidosselect').value = '{{valores.vcandidato}}';
                        </script>
                    {% endif %}

                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" name="filtrar"  value="Buscar">
                    </div>
                </div>

                <div class="row">
                    <!-- [ stiped-table ] start -->
                    {% autopaginate votacion_list 20 %}
                    <table id="books-table" class="table table-striped">
                        <col style="width:10%">
                        <col style="width:20%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">Recinto</th>
                                <th class="text-center" scope="col">JRV</th>
                                <th class="text-center" scope="col">{{valores.vcolumna1}}</th>
                                <th class="text-center" scope="col">{{valores.vcolumna2}}</th>
                                <th class="text-center" scope="col">Ver JRV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in votacion_list %}
                                <tr>
                                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                    <td>{{ book.parroquia }} | Zona {{ book.zona }} | {{ book.recinto }}</td>
                                    <td class="text-center">{{ book.jrv.numero }}{{ book.jrv.genero }}</td>
                                    <td class="text-center">{{ book.delegados }}</td>
                                    <td class="text-center">{{ book.cne1 }}</td>
                                    <td class="text-center">
                                        <!-- Botones para ver Modal popup -->
                                        <button type="button" class="bs-modal read-book btn btn-sm btn-primary" data-form-url="{% url 'read_book' book.pk %}">
                                            <span class="fa fa-eye"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% paginate  using "includes/pagination.html" %}
                    <!-- [ stiped-table ] end -->
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Log in & Sign up buttons
          // The formURL is given explicitly

          var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Book was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}
