{% extends 'layouts/base2.html' %}
{% load static %}
{% load pagination_tags %}

{% block title %} Validacion - Asamblea Nacional {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style type="text/css">
        table {
            width: 100%
        }
    </style>
{% endblock stylesheets %}

{% block content %}


<div class="pcoded-content">
        <!-- [ breadcrumb ] start -->

    {% if mensaje %}
        <script>
            alert('{{ mensaje }}');
        </script>
    {% endif %}
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Validacion Asamblea Nacional </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Validaciones</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Asamblea Nacional </a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5 class="m-b-10">Items en consulta:</h5> <h5>{{valores.vcount }}</h5>
                    </div>
                </div>



        <!-- [ breadcrumb ] end -->
        <div class="card card-body">


            <style>
                .name { font-weight: bold; }
                .subtext { font-size: smaller; }
            </style>


        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-3">
                <center><h3>{{ valores.vprovincia }}</h3></center>
                </div>

                <div class="col-md-3">
                    <select class="mb-3 form-control" name="canton" id="canton">
                        <option value="*" selected >Todos los Cantones</option>
                        {% for canton in canton_list %}
                            <option value="{{canton.pk}}" >{{canton}}</option>
                        {% endfor %}
                    </select>
                </div>

               <div class="col-md-3">
                    <select class="mb-3 form-control" name="validar" id="canton">
                        <option value="todos">Todas las JRV a validar</option>
                        <option value="sin_validar"selected>Sin Validar</option>
                        <option value="para_reclamar">Para Reclamar</option>
                        <option value="no_procede">No Procede Reclamacion</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" name="filtrar"  value="Buscar">
                </div>
            </div>
            <script>
                document.getElementById('canton').value = {{valores.vcanton}};
            </script>

            <div class="row">
                    <!-- [ stiped-table ] start -->
                    {% autopaginate jrv_list 20 %}
                    <table id="books-table" class="table-striped tall-row">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th >Recinto</th>
                            <th>JRV</th>
                            <th>Observaciones</th>
                            <th>Diferencia</th>
                            <th>Ver JRV</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for jrv in jrv_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td >
                                <span class="name">{{ jrv.canton }} |{{ jrv.parroquia }} | Zona {{ jrv.zona }}</span>  <br/>
                                    <span class="subtext">{{ jrv.recinto }}</span></td>

                                <td>{{ jrv.numero }}{{ jrv.genero }}</td>
                                <td style="max-width: 200px; word-wrap: break-word; " >{{ jrv.observaciones }}</td>
                                <td>{{ jrv.maxdiffnal }}</td>
                                <td>
                                    <!-- Botones para ver Modal popup -->
                                    <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href='/comparacion/validar_nacional/{{ jrv.pk }}'">
                                        <span class="fa fa-eye"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    {% paginate  using "includes/pagination.html" %}
                    <!-- [ stiped-table ] end -->
                </div>
        </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
{% block extrascripts %}{% endblock extrascripts %}