{% extends 'layouts/base2.html' %}
{% load static %}
{% load pagination_tags %}

{% block title %} Consulta- Presidencia y Vicepresidencia {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

    <div class="modal-content" id="filetypeModal">

<div class="modal-header">
    <h3 class="modal-title">Detalles de JRV</h3>
    <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

        {% block content %}
            <div class="modal-body">

                <!DOCTYPE html>
                <html lang="es">
                <head>
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <title>Detalle JRV</title>
                    <!-- Bootstrap -->
                </head>
                <body>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <table class="table table-striped" width="100%" >
                                    <tbody>
                                    <tr>
                                        <td><H5>Provincia</H5></td>
                                        <td>{{jrvactual.provincia}}</td>
                                        <td><H5>Canton</H5></td>
                                        <td>{{jrvactual.canton}} &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parroquia</h5></td>
                                        <td>{{jrvactual.parroquia}}</td>
                                        <td><h5>Zona</h5></td>
                                        <td>{{jrvactual.zona}}</td>
                                    </tr>
                                    <tr>
                                        <td><h5>Recinto</h5></td>
                                        <td>{{jrvactual.recinto}} </td>
                                        <td><h5>Jrv</h5></td>
                                        <td>{{jrvactual.numero}}{{jrvactual.genero}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr>

                    </div>
                </section>
                <hr>

                </body>
                </html>




                <section>




                    <style>

                        .vertical-center {
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    </style>

                    <hr>

                    <form id="getAPI" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Observaciones">Observaciones</label>
                                            <textarea class="form-control" rows="7" cols="40" name="Observaciones" >{{jrvactual.observaciones}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="container vertical-center">

                                                <center><label>
                                                    <input type="checkbox" class="form-control" name="resuelta" value="Se resolvio" {% if resuelta == "si" %}checked="True"{% endif %} />Se resolvio</label></center>

                                                <center><label>
                                                    <input type="checkbox" class="form-control" name="grave" value="Incidencia Grave" {% if grave == "si" %}checked="True"{% endif %} />Incidencia Grave</label></center>
                                            </div>
                                        </div>
                                    </div>
                                    <input id="jrvactual" name="jrvactual" type="hidden" value={{jrvactual.pk}}>
                                    <div class="col-md-2">
                                        <input type="submit" class="btn btn-primary vertical-center " name="filtrar"  value="Guardar cambios">
                                    </div>

                                </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Telefonos">Telefonos </label>
                                            <textarea class="form-control" rows="40 " cols="40" name="Telefonos" disabled>{{jrvactual.telefonos}}</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </form>

                    <script>
                        $("#getAPI").submit(function(event) {
                            event.preventDefault();
                            event.preventDefault();
                            event.preventDefault();
                        });
                        $.ajax({
                            url: '/comparacion/updated/',  // your url endpoint
                            type: 'POST',

                            data: $('#getAPI').serialize(),  // gather form data
                            success: function(data) {
                                console.log(data);
                                $("#filetypeModal").modal("toggle");  // Use toggle to close modal
                            }
                            // end success callback
                        });
                        $("#closeModal").click(event =>{
                            alert('Success');// end ajax call
                            // prevent default submission
                            event.preventDefault();
                        });
                    </script>

                </section>


            </div>
            </div>
        {% endblock content %}